# Python & uv
        .uv/
        __pycache__/
        *.pyc
        .ipynb_checkpoints/
        .pyc
        .env
        .venv

        # LaTeX
        *.aux
        *.bbl
        *.blg
        *.log
        *.out
        *.synctex.gz
        *.toc

        # Data (CRITICAL!)
        # Never commit large data files.
        # Commit a README in these folders explaining
        # *where* to get the data (e.g., a download URL).
        data/raw/
        data/processed/
        data/external/

        # OS & Other
        .DS_Store
        Thumbs.db

        x_weather_plot.ipynb
        0_init_dir.py